streamlit
bs4
requests
nltk
pyttsx3
chromadb
playwright
sentence-transformers
google-generativeai
python-dotenv
streamlit
gtts
requests
nltk
beautifulsoup4
sentence-transformers
google-generativeai
chromadb
